<!-- Diese Werte verwendet die Uhr fürs Setting Menü. -->   
<!-- Ein <setting></setting> block verbindet einen String mit einer property, also wohin dieser Wert gespeichert werden soll. -->
<!-- Diese Settings werden auch am Handy angezeigt. -->
   

    <settings>
         <setting propertyKey="@Properties.propDistance" title="@Strings.propDistance">
            <settingConfig type="numeric" />
        </setting>
        
        <setting propertyKey="@Properties.propPrepare" title="@Strings.propPrepare">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.propRounds" title="@Strings.propRounds">
            <settingConfig type="numeric" />
        </setting>
       
        <setting propertyKey="@Properties.propFirstRelax" title="@Strings.propFirstRelax">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.propRelaxReduce" title="@Strings.propRelaxReduce">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.propAdjustInterval" title="@Strings.propAdjustInterval">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.propAlarmBeep" title="@Strings.propAlarmBeep">
            <settingConfig type="boolean" />
        </setting>
                
        <setting propertyKey="@Properties.propAlarmVibrate" title="@Strings.propAlarmVibrate">
            <settingConfig type="boolean" />
        </setting>
  
   <!--
        <setting propertyKey="@Properties.alarm" title="@Strings.alarm_title">
            <settingConfig type="boolean" />
        </setting>
                
                -->
    </settings>